﻿@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.CreateOrEditPromoCodeRequest

@{
    ViewData["Title"] = "Create promocode";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceInfo" class="control-label"></label>
                <input asp-for="ServiceInfo" class="form-control" />
                <span asp-validation-for="ServiceInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginDate" class="control-label"></label>
                <input asp-for="BeginDate" class="form-control" />
                <span asp-validation-for="BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <select multiple="multiple" asp-for="PreferenceId" class="form-control">
                    @foreach (var preference in ViewBag.Preferences)
                    {
                        <option value="@preference.Id">@preference.Name</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <select multiple="multiple" asp-for="PartnerId" class="form-control">
                    @foreach (var partner in ViewBag.Partners)
                    {
                        <option value="@partner.Id">@partner.FullName</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
