﻿@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.PromoCodeResponse

@{
    ViewData["Title"] = "Promocode details";
    Layout = "~/Views/_Layout.cshtml";
}
<h1>
    Customer details
</h1>
<div>
    @await Html.PartialAsync("PartialDetails", Model)
</div>