﻿@model IEnumerable<Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.PromoCodeResponse>

@{
    ViewData["Title"] = "Promocodes";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <a asp-action="CreateView" class="btn btn-primary">Create promocode</a>
</div>
<hr />

<div id="itemsContainer">
    @await Html.PartialAsync("PartialList", Model)
</div>

@section Scripts{
    <script src="~/js/PromoCodes/PromoCodes.js"></script>
}