﻿@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.CreateOrEditRoleRequest

@{
    ViewData["Title"] = "Create role";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @await Html.PartialAsync("ValidationScripts", Model)
}