﻿@model IEnumerable<Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.RoleResponse>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <a asp-action="CreateView" class="btn btn-primary">Create role</a>
</div>
<hr />

<div id="itemsContainer">
    @await Html.PartialAsync("PartialList", Model)
</div>

@section Scripts{
    <script src="~/js/Roles/Roles.js"></script>
}