﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link  rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li id="customersTab" class="nav-item">
                            <a class="nav-link" href="/Customers">Customers</a>
                        </li>
                        <li id="preferencesTab" class="nav-item">
                            <a class="nav-link" href="/Preferences">Preferences</a>
                        </li>
                        <li id="promocodesTab" class="nav-item">
                            <a class="nav-link" href="/PromoCodes">PromoCodes</a>
                        </li>
                        <li id="rolesTab" class="nav-item">
                            <a class="nav-link"  href="/Roles">Roles</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <hr />
    <div class="container" id="mainBody">
        <main>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
