﻿@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.CreateOrEditCustomerRequest

@{
    ViewData["Title"] = "Create customer";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <select multiple="multiple" asp-for="PreferenceIds" class="form-control">
                    @foreach (var preference in ViewBag.Preferences)
                    {
                        <option value="@preference.Id">@preference.Name</option>
                    }
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @await Html.PartialAsync("ValidationScripts", Model)
}