﻿@model IEnumerable<Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.CustomerResponse>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <a asp-action="CreateView" class="btn btn-primary">Create customer</a>
</div>
<hr />

<div id="itemsContainer">
    @await Html.PartialAsync("PartialList", Model)
</div>

@section Scripts{
    <script src="~/js/Customers/Customers.js"></script>
}