﻿@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.CustomerResponse

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preferences)
        </dt>
        <dd class="col-sm-10">
            @Model.Preferences.Select(p => p.Name).Aggregate((p1, p2) => $"{p1}, {p2}")
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditView", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
