﻿@model IEnumerable<Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.CustomerResponse>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditView", new { id = item.Id }) |
                        @{
                            var preferences = item.Preferences.Select(p => p.Name).Aggregate((i1, i2) => $"{i1},{i2}");
                        }
                        <a href="#" onclick="viewDetails('@item.FirstName', '@item.LastName', '@item.Email', '@preferences')">Details</a> |
                        <a href="#" data-url="@Url.Action("Delete")" data-item-id="@item.Id" id="deleteBtn">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="detailsView" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="firstName"></p>
                <p id="lastName"></p>
                <p id="email"></p>
                <p id="preferences"></p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="hideView()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("MessageBox")