﻿@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.PreferenceResponse

@{
    ViewData["Title"] = "Preference details";
    Layout = "~/Views/_Layout.cshtml";
}
<h1>
    Preference details
</h1>
<div>
    @await Html.PartialAsync("PartialDetails", Model)
</div>