﻿@model IEnumerable<Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.PreferenceResponse>

@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <a asp-action="CreateView" class="btn btn-primary">Create preference</a>
</div>
<hr />

<div id="itemsContainer">
    @await Html.PartialAsync("PartialList", Model)
</div>

@section Scripts{
    <script src="~/js/Preferences/Preferences.js"></script>
}