﻿@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.PreferenceResponse

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditView", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
