﻿@model IEnumerable<Otus.Teaching.Pcf.GivingToCustomer.WebHost.Models.PreferenceResponse>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditView", new { id=item.Id }) |
                    <a href="#" onclick="viewDetails('@item.Name')">Details</a> |
                    <a href="#" data-url="@Url.Action("Delete")" data-item-id="@item.Id" id="deleteBtn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="detailsView" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="name"></p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="hideView()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("MessageBox")